In [1]:
import numpy as np
import pandas as pd
import re
import nltk
import spacy
import string
#(Had to figure out what encoding was needed)
# import chardet
# with open("/content/training.1600000.processed.noemoticon.csv", 'rb') as rawdata:
#     result = chardet.detect(rawdata.read(100000))
# result

full_df = pd.read_csv("training.1600000.processed.noemoticon.csv", encoding = "ISO-8859-1")
# df = full_df[["text"]]
# df["text"] = df["text"].astype(str)
full_df.head()

,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer. You shoulda got David Carr of Third Day to do it. ;D"
0,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
1,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
2,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
3,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
4,0,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@Kwesidei not the whole crew

In [2]:
full_df.columns =['sentiment','id', 'date', 'query', 'username', 'text',]
full_df.head()

,sentiment,id,date,query,username,text
0,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
1,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
2,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
3,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
4,0,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@Kwesidei not the whole crew

In [3]:
df = full_df[["text"]]
full_df["text"] = df["text"].str.lower()
full_df.head()

,sentiment,id,date,query,username,text
0,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his facebook by ...
1,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@kenichan i dived many times for the ball. man...
2,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
3,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
4,0,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@kwesidei not the whole crew

In [4]:
#https://www.kaggle.com/code/sudalairajkumar/getting-started-with-text-preprocessing
#regular expressions are hard, so used some help ^
def remove_urls(text):
    url_pattern = re.compile(r'https?://\S+|www\.\S+')
    return url_pattern.sub(r'', text)
full_df["text"] = df["text"].apply(lambda text: remove_urls(text))

In [5]:


nltk.download('stopwords')
from nltk.corpus import stopwords
", ".join(stopwords.words('english'))
#downloading stop words to be removed

[nltk_data] Downloading package stopwords to
[nltk_data]     /home/carson2stoker/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

"i, me, my, myself, we, our, ours, ourselves, you, you're, you've, you'll, you'd, your, yours, yourself, yourselves, he, him, his, himself, she, she's, her, hers, herself, it, it's, its, itself, they, them, their, theirs, themselves, what, which, who, whom, this, that, that'll, these, those, am, is, are, was, were, be, been, being, have, has, had, having, do, does, did, doing, a, an, the, and, but, if, or, because, as, until, while, of, at, by, for, with, about, against, between, into, through, during, before, after, above, below, to, from, up, down, in, out, on, off, over, under, again, further, then, once, here, there, when, where, why, how, all, any, both, each, few, more, most, other, some, such, no, nor, not, only, own, same, so, than, too, very, s, t, can, will, just, don, don't, should, should've, now, d, ll, m, o, re, ve, y, ain, aren, aren't, couldn, couldn't, didn, didn't, doesn, doesn't, hadn, hadn't, hasn, hasn't, haven, haven't, isn, isn't, ma, mightn, mightn't, mustn, mustn't, needn, needn't, shan, shan't, shouldn, shouldn't, wasn, wasn't, weren, weren't, won, won't, wouldn, wouldn't"

In [6]:
#removes stopwords
STOPWORDS = set(stopwords.words('english'))
def remove_stopwords(text):
    """custom function to remove the stopwords"""
    return " ".join([word for word in str(text).split() if word not in STOPWORDS])

full_df["text"] = full_df["text"].apply(lambda text: remove_stopwords(text))
full_df["text"]= full_df["text"].str.lower()

In [7]:
full_df.head()

,sentiment,id,date,query,username,text
0,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,upset can't update facebook texting it... migh...
1,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@kenichan i dived many times ball. managed sav...
2,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,whole body feels itchy like fire
3,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, behaving all. i'm mad. he..."
4,0,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@kwesidei whole crew

In [8]:
# #removes items that aren't words in the english language (Helps get rid of non english words and usernames)
# nltk.download('words')
# words = set(nltk.corpus.words.words())
# def remove_notwords(sent):
#     """custom function to remove the stopwords"""
#     return " ".join(w for w in nltk.wordpunct_tokenize(sent) \
#          if w.lower() in words or not w.isalpha())
  
# full_df["text"] = df["text"].apply(lambda text: remove_notwords(text))

In [9]:
full_df.head(10)

,sentiment,id,date,query,username,text
0,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,upset can't update facebook texting it... migh...
1,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@kenichan i dived many times ball. managed sav...
2,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,whole body feels itchy like fire
3,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, behaving all. i'm mad. he..."
4,0,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@kwesidei whole crew
5,0,1467811592,Mon Apr 06 22:20:03 PDT 2009,NO_QUERY,mybirch,need hug
6,0,1467811594,Mon Apr 06 22:20:03 PDT 2009,NO_QUERY,coZZ,"@loltrish hey long time see! yes.. rains bit ,..."
7,0,1467811795,Mon Apr 06 22:20:05 PDT 2009,NO_QUERY,2Hood4Hollywood,@tatiana_k nope
8,0,1467812025,Mon Apr 06 22:20:09 PDT 2009,NO_QUERY,mimismo,@twittera que muera ?
9,0,1467812416,Mon Apr 06 22:20:16 PDT 2009,NO_QUERY,erinx3leannexo,spring break plain city... snowing

In [10]:
full_df.sentiment.value_counts()

4    800000
0    799999
Name: sentiment, dtype: int64

In [11]:
from sklearn.feature_extraction.text import CountVectorizer
from nltk.tokenize import RegexpTokenizer
#removes any non letter characters 
token = RegexpTokenizer(r'[a-zA-Z]+')
cv = CountVectorizer(stop_words='english',ngram_range = (1,1),tokenizer = token.tokenize)
text_counts = cv.fit_transform(full_df['text'])

/home/carson2stoker/.local/lib/python3.9/site-packages/sklearn/feature_extraction/text.py:528: UserWarning: The parameter 'token_pattern' will not be used since 'tokenizer' is not None'
  warnings.warn(

In [12]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(text_counts, full_df['sentiment'], test_size=0.25, random_state=42)

In [13]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import precision_recall_fscore_support

In [14]:
MNB = MultinomialNB()
MNB.fit(X_train, Y_train)
from sklearn import metrics
predicted = MNB.predict(X_test)
accuracy_score = metrics.accuracy_score(predicted, Y_test)

In [15]:
print(str('{:04.2f}'.format(accuracy_score*100))+'%')
#keep the slang yo (73.55% without)

76.62%

In [16]:
# calculate precision, recall, and f1 score 
(p,r,f,s) = precision_recall_fscore_support(predicted, Y_test)
print(p,r,f,s)

[0.78419789 0.74829233] [0.75624523 0.77688793] [0.76996795 0.76232206] [206958 193042]

In [17]:
# import tweepy

# C_KEY = '5kCFmYbrCizZ2dpo3KD9dRfkl'
# C_SECRET = 'mNH0jlbgDcQQIThlIlrxkKWQLtle02hJh0aoM305wqQBR9nilb'
# A_TOKEN_KEY = '1487949914185166848-eLF7W3icZwkg9dbdUr6swBMGCpFZQQ'
# A_TOKEN_SECRET = 'rIbMqldiv1ZbNe5gUAbNBwe19y1L28AxeCB2JBha8HgVV'
# class MyStreamListener(tweepy.StreamListener):
#     def on_status(self, status):
#         print(status.text)
# auth = tweepy.OAuthHandler(C_KEY, C_SECRET)
# auth.set_access_token(A_TOKEN_KEY, A_TOKEN_SECRET)
# api = tweepy.API(auth, wait_on_rate_limit=True)
# streamListener = MyStreamListener()
# myStream = tweepy.Stream(auth=api.auth, listener=streamListener)
# #find other bounding boxes at: https://gist.github.com/graydon/11198540
# myStream.filter(languages=["en"], locations = [-171.7911, 18.9161, -66.9646, 71.3577]) #Bounding box for the US